
<form action="" method="POST" role="form">
  <legend>{{title}}</legend>

  <div class="form-group">
    <label for="">Name</label>
    <input name="name" type="text" class="form-control" disabled [(ngModel)]="detailCourse.name">
  </div>

  <div class="form-group">
    <label for="">Decription</label>    
    <textarea name="decription" class="form-control" rows="10" disabled [(ngModel)]="detailCourse.decription"></textarea>
  </div>

  <div class="form-group">
    <label for="">Fee</label>
    <input name="fee" type="number" class="form-control" disabled [(ngModel)]="detailCourse.fee">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onBack()">Back</button>
</form>
