<ng-container *ngIf= "error == 1; else messageFails">
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Delete successfully !</strong> 
    </div>
</ng-container>
<!-- <ng-template #messageFails>
  <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Somthing went wrong !</strong> 
  </div>
</ng-template> -->


<button type="button" class="btn btn-primary" [style.margin-bottom.px]='15' routerLink="/courses/add">Add</button>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Decription</th>
      <th>Fee</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td>
            <input 
              type="search" 
              name="id" 
              class="form-control" 
              [(ngModel)]="id"
              >
          </td>
          <td>
            <input type="search" name="name" class="form-control" [(ngModel)]="name">
          </td>
          <td>
              <input type="search" name="decription" class="form-control"[(ngModel)]="decription" >
          </td>
          <td>
              <input type="search" name="fee" class="form-control" [(ngModel)]="fee">
          </td>
          <td>

          </td>
        </tr>
    <tr *ngFor = "let item of courses | filter :id :name :decription :fee">
      <td>{{item.id}}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.decription }}</td>
      <td>{{ item.fee | currency:'VND' }}</td>
      <td>
       <button type="button" 
          class="btn btn-success" 
          [style.margin-right.px]='5' 
          [routerLink]="['/courses',item.id,'edit']"
          >Edit</button> 
       <button type="button" 
          class="btn btn-info" [style.margin-right.px]='5'
          [routerLink]="['/courses',item.id]"
          >Detail</button>
       <button type="button" class="btn btn-danger" (click)="onDeleteCourse(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


