
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Courses</a>
  <ul class="nav navbar-nav">
    <li
        routerLinkActive="active"
        routerLinkActiveOptions="{exact:true}">
      <a 
        routerLink="/index"
      >Home</a>
    </li>
    <li routerLinkActive="active">
      <a 
        routerLink="/courses"
        >Courses</a>
    </li>
  </ul>
</nav>

<div class="container" [style.margin-top.px]='85'>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                <router-outlet></router-outlet>
              </div>
          </div>  
      </div>
    </div>
</div>

 



